
<a href="https://classroom.google.com/u/3/c/NjE2ODIyNjc5NDY4/a/NjE2OTE0MjI3MzY1/details"> <h1 >Assignment 1 </h1> </a>

In [7]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

<div style="font-family: console; color: green"> <p> 1. (A). Collect any dataset without decision attribute. The dataset may be collected from UCI
machine learning repository. If the dataset contains the decision attribute then remove it as you
will perform clustering of objects in the dataset.</p> </div>

In [9]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [10]:
df = df.drop(['Id', 'Species'], axis=1)

In [11]:
df.tail()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

<p style="font-family: console; padding: 5%"> (B). Let the dataset has m rows and n columns where, each row is an object and each column is
an attribute or feature of the object in the dataset. So you can consider the dataset as an m√ón <b style= "color: red">(150, 4) </b>
matrix.</p>

In [12]:
df.shape

(150, 4)

<div style="font-family: console; padding-left: 5%"> (C). Normalize the attribute values within the range [0,1] using any normalization technique to
give all the attributes an equal importance.</div>.

In [13]:
# import matplotlib.pyplot as plt

In [14]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [15]:
df = df/df.max()

In [17]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        0.739662      0.694091       0.544734      0.479467
std         0.104818      0.098544       0.255713      0.305264
min         0.544304      0.454545       0.144928      0.040000
25%         0.645570      0.636364       0.231884      0.120000
50%         0.734177      0.681818       0.630435      0.520000
75%         0.810127      0.750000       0.739130      0.720000
max         1.000000      1.000000       1.000000      1.000000

<div style= "color: blue; font-family: console">
<h5 style = "color: red; font-family: math; padding-left: 30%"> Indicating that all features has been normalized </h5>
<ul><li>SepalLengthCm    1.0</li> 
<li>SepalWidthCm     1.0</li>
<li>PetalLengthCm    1.0</li>
<li>PetalWidthCm     1.0</li>
</ul> 

</div>

In [19]:
normalized_data = pd.DataFrame(df)
normalized_data.to_excel("normalized_data.xlsx")

<div style="font-family: console; color: green; padding-left: 4%; padding-right: 5%"> <p>2. (A). Create a similarity matrix S of size m√óm <b style= "color: red">(150, 150) </b> where, each (i, j)-th entry in the matrix gives the
dissimilarity measurement between i-th and j-th objects. Use Eucledian distance to measure
the dissimilarity</p> </div>

In [156]:
data = df.to_numpy()
dissimilarity_matrix = np.zeros((data.shape[0], data.shape[0]))
dissimilarity_matrix.shape

(150, 150)

In [157]:
def euclidian_distance(pt1, pt2):
    d = pt1-pt2
    X = 0
    for a in d:
        X += a**2
    return np.math.sqrt(X)

In [158]:
# pt1 = np.array([0,0, 0, 0])
# pt2 = np.array([10, 10, 10,10])

# euclidian_distance(pt1, pt2)

In [159]:

for i in range(data.shape[0]):
    for j in range(i, data.shape[0]):
        d = euclidian_distance(data[i], data[j])
        dissimilarity_matrix[i, j] = d
        dissimilarity_matrix[j, i] = d

In [160]:
eucli_dissimilarity = pd.DataFrame(dissimilarity_matrix)
eucli_dissimilarity.to_excel("Euclidean_Dissimilarity.xlsx")
eucli_dissimilarity

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,0.000000,0.167259,0.122651,0.158696,0.036946,0.232380,0.123911,0.045529,0.230106,0.161226,...,2.170102,2.037250,1.750259,2.144055,2.251631,2.047733,1.754468,1.833393,2.058729,1.672217
1,0.167259,0.000000,0.078537,0.066452,0.197208,0.358298,0.163556,0.134742,0.091619,0.093487,...,2.170985,2.038766,1.736033,2.147720,2.257236,2.046050,1.735792,1.830874,2.066036,1.667348
2,0.122651,0.078537,0.000000,0.064779,0.143172,0.325656,0.110676,0.098772,0.113988,0.109704,...,2.189886,2.057730,1.759479,2.167084,2.273847,2.065762,1.762938,1.852243,2.080715,1.688287
3,0.158696,0.066452,0.064779,0.000000,0.179438,0.343560,0.131595,0.119731,0.078537,0.097958,...,2.165091,2.035092,1.728611,2.140680,2.250301,2.041708,1.732555,1.825057,2.056832,1.658209
4,0.036946,0.197208,0.143172,0.179438,0.000000,0.220331,0.126232,0.070686,0.251156,0.186453,...,2.174548,2.042272,1.756709,2.148192,2.254965,2.052966,1.762950,1.838917,2.061144,1.677225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,2.047733,2.046050,2.065762,2.041708,2.052966,1.875090,1.988061,2.034733,2.060930,2.105607,...,0.139131,0.054328,0.381364,0.198155,0.234915,0.000000,0.381680,0.252608,0.165251,0.439829
146,1.754468,1.735792,1.762938,1.732555,1.762950,1.603333,1.694277,1.736333,1.746897,1.793909,...,0.492710,0.401507,0.110988,0.478070,0.598786,0.381680,0.000000,0.194337,0.458063,0.197883
147,1.833393,1.830874,1.852243,1.825057,1.838917,1.664667,1.776628,1.818540,1.845901,1.886160,...,0.353451,0.262878,0.177955,0.322874,0.450016,0.252608,0.194337,0.000000,0.291995,0.197714
148,2.058729,2.066036,2.080715,2.056832,2.061144,1.878057,1.997867,2.046487,2.079314,2.122347,...,0.163593,0.174272,0.418271,0.180355,0.206408,0.165251,0.458063,0.291995,0.000000,0.447391
149,1.672217,1.667348,1.688287,1.658209,1.677225,1.508829,1.612965,1.655285,1.678610,1.720211,...,0.536720,0.452059,0.130009,0.497303,0.628419,0.439829,0.197883,0.197714,0.447391,0.000000

<div style="font-family: console; color: purple; "> <p>(B). The i-th row indicates similarity of i-th object with all other objects.<i> <b style= "color: red">Find the average
dissimilarity of i-th object with other objects and form a cluster Ci with i-th object and objects
having dissimilarity less than the average similarity</b> <i> Repeat this process for all rows of the
similarity matrix. Thus, you have now m clusters.</p> </div>

In [161]:
eucli_dissimilarity.describe()

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,...,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,1.108715,1.113604,1.123571,1.106768,1.116645,1.042522,1.078744,1.095014,1.136701,1.151647,...,1.172357,1.083826,0.870030,1.141202,1.254622,1.081800,0.876510,0.912361,1.101510,0.826197
std,0.749298,0.734369,0.751976,0.735481,0.747707,0.635442,0.717807,0.745029,0.724157,0.752667,...,0.746308,0.703281,0.624776,0.748838,0.751392,0.712499,0.621484,0.662532,0.709216,0.600624
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.205885,0.271691,0.235116,0.261765,0.208884,0.335449,0.208521,0.197112,0.318414,0.293998,...,0.524090,0.455601,0.384540,0.465189,0.609201,0.449251,0.393843,0.367331,0.477877,0.342600
50%,1.239785,1.228350,1.257433,1.223240,1.248642,1.104426,1.194151,1.219863,1.246419,1.273998,...,0.989185,0.877714,0.579010,0.959874,1.081991,0.873490,0.579751,0.644663,0.899460,0.546616
75%,1.749717,1.736033,1.762073,1.731569,1.756002,1.592042,1.690165,1.731868,1.746215,1.792551,...,2.102634,1.969433,1.682204,2.078550,2.187171,1.977578,1.687441,1.765802,1.995376,1.603319
max,2.344216,2.336084,2.364587,2.332728,2.351859,2.182347,2.296787,2.327120,2.353531,2.385175,...,2.298896,2.167991,1.860938,2.277450,2.384330,2.174203,1.864291,1.960650,2.190950,1.794136

In [162]:
mean_obj = eucli_dissimilarity.mean()
mean_obj

0      1.108715
1      1.113604
2      1.123571
3      1.106768
4      1.116645
         ...
145    1.081800
146    0.876510
147    0.912361
148    1.101510
149    0.826197
Length: 150, dtype: float64

<i> <b style= "color: red">Find the average
dissimilarity of i-th object with other objects and form a cluster Ci with i-th object and objects
having dissimilarity less than the average similarity</b> <i>

In [163]:
#clusters initialization
C = np.zeros(eucli_dissimilarity.shape)
C.shape

(150, 150)

In [166]:
for i in range(C.shape[0]):
    for j in range(C.shape[1]):
        if dissimilarity_matrix[i][j] < mean_obj[i]:
            C[i][j] = 1
C

array([[1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 1., 1.],
       [0., 0., 0., ..., 1., 1., 1.],
       [0., 0., 0., ..., 1., 1., 1.]])

In [170]:
Clusters = pd.DataFrame(C)
Clusters.to_excel("clusters.xlsx")
Clusters

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
146,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
147,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
148,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
149,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

<b style= "color: blue"> <i> Observation </i> : Each Cluster Must have Atleast one point (Diagonal One)

<br>
<i style="color: black; padding-left: 30%">Total Cluster = m = 150 </i>
 </b>